:root {
  --bs-primary: rgba(13, 110, 253, 1);
  --bs-secondary: rgba(108, 117, 125, 1);
  --bs-success: rgba(25, 135, 84, 1);
  --bs-info: rgba(13, 202, 240, 1);
  --bs-warning: rgba(255, 193, 7, 1);
  --bs-danger: rgba(220, 53, 69, 1);
  --bs: rgba(248, 249, 250, 1);
  --bs-dark: rgba(33, 37, 41, 1);

  --bs-primary-light: rgba(13, 110, 253, 0.3);
  --bs-secondary-light: rgba(108, 117, 125, 0.3);
  --bs-success-light: rgba(25, 135, 84, 0.3);
  --bs-info-light: rgba(13, 202, 240, 0.3);
  --bs-warning-light: rgba(255, 193, 7, 0.3);
  --bs-danger-light: rgba(220, 53, 69, 0.3);
  --bs-light-light: rgba(248, 249, 250, 0.3);
  --bs-dark-light: rgba(33, 37, 41, 0.3);
}

.tudududu-app {
  display: flex;
}

main {
  flex: 1;
  transition: width 0.3ms;
  overflow-y: auto;
  max-height: 100vh;
  display: flex;
  flex-direction: column;

  header.top-bar {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    padding: 1rem 0;

    span.hamburger {
      cursor: pointer;
    }
    span.hamburger:hover {
      color: #dc4c3e;
    }

    .item {
      text-decoration: none;
      color: #fff;
      background: #dc4c3e;
      padding: 2px 6px;
      border-radius: 5px;
      border: 1px solid #dc4c3e;
      transition: 0.3s;
    }
    .item:hover {
      background: transparent;
      color: #dc4c3e;
    }
  }
}

.btn-toolbar .dropdown-toggle::after {
  content: unset;
}
.btn-toolbar .sort-by-dropdown {
  width: 300px;
  padding: 0;
}
.btn-toolbar .sort-by-list {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: space-between;
}
.btn-toolbar .sort-by-list:hover {
  background: #000;
  color: white;
}

.bg-primary-light {
  background-color: var(--bs-primary-light);
}

.bg-secondary-light {
  background-color: var(--bs-secondary-light);
}

.bg-success-light {
  background-color: var(--bs-success-light);
}

.bg-info-light {
  background-color: var(--bs-info-light);
}

.bg-warning-light {
  background-color: var(--bs-warning-light);
}

.bg-danger-light {
  background-color: var(--bs-danger-light);
}

.bg-light-light {
  background-color: var(--bs-light-light);
}

.bg-dark-light {
  background-color: var(--bs-dark-light);
}

.text-justify {
  text-align: justify !important;
}

.card.item-card:hover {
  background-color: #f3efec;
}

.card.add-new {
  background-color: white !important;
}

.card.add-new:hover {
  background-color: #f3efec !important;
}
.add-new-card {
  display: flex;
  flex: auto;
  align-items: center;
  align-self: center;
}
.add-new-card-2 {
  display: flex;
  column-gap: 0.5rem;
  flex: auto;
  align-items: center;
  align-self: center;
}
.add-new-card-2 .icon {
  padding-left: 4px;
  padding-right: 4px;
}
.add-new-card-2:hover .icon {
  color: #fff;
  border-radius: 50%;
  background-color: #dc4c3e;
}
.add-new-card-2:hover .btn-text {
  color: #dc4c3e;
}

.item-title.h5 {
  font-size: 0.85rem;
}

.badge-title {
  font-size: 0.65rem;
}

.cursor-pointer {
  cursor: pointer;
}

table {
  th, td {
    white-space: nowrap;
  }
}

.breadcrumb {
  .h2 {
    font-size: 1.5rem;

    span {
      font-size: 14px;
      margin-top: 0.25rem;
    }
  }
}

.modal-search-options {
  margin-bottom: 1rem;

  .option {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    height: 42px;
    line-height: 42px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    padding: 0 1rem;
    border-left: transparent 2px solid;
  }

  .option:hover {
    background-color: #e5e5e5;
    border-left: #dc4c3e 2px solid;
  }
}

input[type="text"].search {
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  border-radius: var(--bs-border-radius);
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.search-modal .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pl-rem-1 {
  padding-left: 1rem;
}

.pr-rem-1 {
  padding-right: 1rem;
}

.ml-rem-1 {
  margin-left: 1rem;
}

.mr-rem-1 {
  margin-right: 1rem;
}

.list-scrolling {
  overflow-x: auto;
  display: flex;
  column-gap: 1.5rem;
  height: 100vh;
  scrollbar-width: thin;
  .list-scrolling-items {
    white-space: nowrap;
    .list-items {
      max-height: 100vh;
      overflow-y: auto;
      scrollbar-width: thin;
      scroll-behavior: smooth;
    }
  }
}

.content-scrolling {
  overflow-y: auto;
  height: 100vh;
  scrollbar-width: thin;
}

.date-title {
  font-size: 14px;
  font-weight: 800;
}

$colors: (
        primary: rgba(13, 110, 253, 1),
        secondary: rgba(108, 117, 125, 1),
        success: rgba(25, 135, 84, 1),
        info: rgba(13, 202, 240, 1),
        warning: rgba(255, 193, 7, 1),
        danger: rgba(220, 53, 69, 1),
        light: rgba(248, 249, 250, 1),
        dark: rgba(33, 37, 41, 1)
);

@each $name, $color in $colors {
  @for $i from 1 through 10 {
    .border-#{$name}-left-#{$i} {
      border-left: #{$i}px solid $color;
    }
    .border-#{$name}-right-#{$i} {
      border-right: #{$i}px solid $color;
    }
  }
}

@for $i from 10 through 72 {
  .font-size-#{$i} {
    font-size: #{$i}px;
  }
}

@for $i from 10 through 1200 {
  .width-#{$i} {
    width: #{$i}px;
  }
}

@for $i from 10 through 1200 {
  .min-height-#{$i} {
    min-height: #{$i}px;
  }
}
@for $i from 10 through 1200 {
  .min-width-#{$i} {
    min-width: #{$i}px;
  }
}

@for $i from 10 through 1200 {
  .max-height-#{$i} {
    max-height: #{$i}px;
  }
}

@media (max-width: 768px) {
  .dt-search {
    margin-top: 0.5rem !important;
  }
}
